<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
        <i class='far fa-handshake logo-icon'></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse mx-0" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><span class="text-logo">Negócios Online <span><span class="sr-only">(current)</span></a>
        </li>  
      </ul>


      <div class="m-2 nav-itens">
        <span class="m-1"><a href="#" class="nav-itens">Categoria</a></span>   
        <span class="m-1"><a href="#" class="nav-itens"></a></span>  
        <i class="fa fa-shopping-cart" style="font-size:30px; color: rgb(13, 81, 136);"></i>      
      </div>
      
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 busca-placeholder" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 busca" type="submit">Buscar</button>
      </form>
      <div class="btn-group m-2">
        <button type="button" class="btn toggle-div">Conta</button>
        <button type="button" class="btn toggle-div dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false">
          
        </button>
        <div class="dropdown-menu text-dark toggle-div">
          <a class="dropdown-item" href="#">Login</a>
          <a class="dropdown-item" href="#">Cadastro</a>
          <a class="dropdown-item" href="#">Logout</a>          
        </div>
      </div>
    </div>
  </nav>
  